body {
  padding-bottom: 60px;
  font-family: "Roboto", sans-serif !important;
}

/* Header Part ===================================================
==================================================================*/

/* Logo */
.navbar-brand img {
  width: 113px;
  height: 54px;
}

/* Menu */
.custom-menu {
  background: rgba(212, 255, 234, 0.5);
  width: 496;
  height: 62;
  opacity: 1;
  top: 43px;
  left: 712px;
  border-radius: 16px;
  border-bottom-width: 0.5px;
}

/* Dynamic Active Menu */
.nav-link.active-menu {
  color: #000000 !important;
  font-weight: 600;
  position: relative;
}

.nav-link.active-menu::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  border-radius: 14px;
  background: #0ea86b;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
}

/* logout button */
.btn.px-3.logout-btn {
  background: rgba(212, 255, 234, 0.66);
  border-radius: 16px;
  font-size: 20px;
  font-weight: 400;
  font-family: Roboto;
}

/* Header Part End ===============================================
==================================================================*/

/* Footer part ====================================================*/

.app-footer {
  width: 100%;
  height: 100px;
  z-index: 1000;
}

/* Footer Part End ===============================================
==================================================================*/

/* login page css =============================================*/

/* Welcome EDC Text */
.Welcome-EDC {
  font-weight: 700;
  color: rgba(81, 84, 111, 1);
  font-size: 36px;
}

.Welcome-EDC-para {
  width: 432px;
  height: 126px;
  top: 400px;

  font-weight: 300;
  font-style: light;
  font-size: 24px;
  line-height: 42px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0%;
}

.Verify {
  background: rgba(27, 201, 126, 1) !important;
  border-radius: 8px;
  color: #ffffff !important;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

/* Main wrapper with no scroll */
.login-wrapper {
  background-color: #f8faff;
  min-height: calc(100vh - 100px); /* adjust for footer */
  position: relative;
  overflow: hidden;
}

/* Ensure the row fills full height */
.login-row {
  height: 100%;
}

/* Bottom-left image */
.bg-pattern-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
  opacity: 0.45;
  pointer-events: none;
}

/* Top-right image */
.bg-pattern-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  opacity: 0.45;
  pointer-events: none;
}

/* Login card */
.login-box {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  height: 516px;
  width: 632px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginFullBox {
  padding: 0px !important;
  margin: 0px !important;
}

.Edc-helpdesk {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(81, 84, 111, 1);
  width: 390 !important;
  height: 42;
  top: 297px;
  left: 981px;
  opacity: 1;
}

.phone-number {
  width: 655 !important;
  height: 62;
  top: 381px;
  left: 948px;
  border-radius: 8px;
  border-width: 1px;
  opacity: 1;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 10px;
}

.login-form {
  height: calc(100vh - 100px);
}

/* submit-ticket-box======================================== */
.submit-ticket-box {
  width: 946px !important;
  height: 654px !important;
  border-color: rgba(61, 63, 77, 1) !important;
  border: 0.5px solid rgba(61, 63, 77, 1);
}

.submit-ticket-btn {
  background: rgba(27, 201, 126, 1) !important;
  color: white !important;
}

.submit-form-info {
  width: 719px !important;
  height: 609px !important;
}

.submit-ticket-heading {
  font-weight: 700 !important;
  font-style: Bold;
  font-size: 48px;
  color: rgba(81, 84, 111, 1);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 40px;
}

.submit-ticket-para {
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  width: 445px !important ;
  margin: 0 auto;
  padding-bottom: 20px;
}

.full-form {
  width: 524px !important;
  margin: 0 auto;
}

/* Ticket Page Start ===================================================*/
.ticket-container {
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #dee2e6;
}

.my-ticket {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(81, 84, 111, 1);
}

.search-input {
  max-width: 250px;
}

.all-ticket-btn {
  background: #e1fdf1 !important;
  color: rgba(10, 122, 67, 1) !important;
  border: #e1fdf1;
  border-radius: 8px 0px 0px 8px !important;
  font-weight: 400px !important;
}

.ticket-btn {
  background-color: #eef0ff !important;
  border-radius: 0px 0px 0px 0px !important;
}

.ticket-btn-last {
  background-color: #eef0ff !important;
  border-radius: 0px 8px 8px 0px !important;
}

.table-header th {
  background-color: rgba(212, 255, 234, 0.5) !important;
  color: black !important;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  border: none !important;
}

.custom-table tr {
  height: 80px;
  vertical-align: middle;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.custom-table tbody tr:nth-child(odd) td {
  background-color: #f9f9ff !important;
  border: none !important;
}
.custom-table tbody tr:nth-child(even) td {
  border: none !important;
}

.custom-table {
  border: 1px solid rgba(169, 174, 212, 1) !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

/* Status styles =======================================*/
.status-open {
  background: rgba(169, 174, 212, 1);
  color: rgba(81, 84, 111, 1) !important;
  border: 1px solid rgba(169, 174, 212, 1);
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 100% !important;
}

.status-resolve {
  background: #e3fff1 !important;
  color: #0ea86b !important;
}

.status-progress {
  background: rgba(255, 149, 0, 0.08) !important;
  color: rgba(255, 149, 0, 1) !important ;
}

.badge {
  padding: 8px 12px !important;
  font-size: 16px !important;
  align-items: end !important;
}
